*,
html {
margin: 0;
padding: 0;
}

.container {
    height: 100vh;
}

.container-navbar{
    background-color: #000;
   width: 100%;
   height: 10vh;
}

.ul-navbar{
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar{
list-style-type: none;
padding: 20px ;
margin: 5px;
color: white;
font-size: 30fx;
}

.li-navbar:hover {
background-color: rgb(187, 58, 35);
transition: .5s ease-in-out;
transition-delay: .3s;
border-radius: 8px;
}

.a-navbar {
color: white;
text-decoration: none;
}

.container-content {
    background-color: rgb(243, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
background-color: rgb(0, 0, 0);
width: 720px;
height: 480px;
flex-direction: column;
justify-content: center;
align-items: center;
}


.image-content {
 width: 30%;
 height: 30%;
}

.container-footer {
    height: 10vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
font-size: 100fx;
}